<div class="p-2">


<a href="{{ .Permalink }}">
  {{ if .Params.thumbnail }}
  <div class="relative">
    {{ with .Resources.GetMatch "*cover.*" }}
    <img src="{{ .RelPermalink }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-cover" />
    {{ end }}
    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <div class="absolute top-4 right-4 rounded shadow bg-white text-blue-400 dark:bg-gray-900 dark:text-white text-sm px-2 py-0.5">
      {{ partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "short") }}
    </div>
    {{ end }}
  </div>
  {{ end }}



  <div class="my-2 text-xl font-semibold">{{ .Params.title }}</div>
  <div>{{ .Params.description }}</div>
</a>
{{ range (.GetTerms "tags") }}
<div class="my-2 text-sm font-semi bg-blue-300" style="color:white; position: relative; float: left; margin: 5px 5px 0px 0px; padding: 0px 6px 0px 4px; border-radius: 5px;"><a href="{{ .Permalink }}">&bull;&nbsp;{{ .LinkTitle }}</a></div>
{{ end }}
</div>

